<launch>

  <arg name="model" default="waffle_pi"/>
  <arg name="x_pos" default="-2.0"/>
  <arg name="y_pos" default="-0.5"/>
  <arg name="z_pos" default="0.0"/>

  <arg name="world_name" default="agriculture"/>

  <!-- Data Publisher Node -->
  <node name="master_node" pkg="master_node" type="master_node" output="screen">
    	<param name="m_world_weather"              type="string"               value="$(arg world_name)"/>
  </node>

  <!-- Gazebo Node -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/$(arg world_name).world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

  <!-- GUI Node -->
  <node name="monitoring_gui" pkg="monitoring_gui" type="monitoring_gui" output="screen">
    <param name="m_world_weather"              type="string"               value="$(arg world_name)"/>
  </node>


</launch>
